{
  "extends": ["plugin:vue/essential", "eslint:recommended", "@vue/typescript"],
  "rules": {
    "no-console": "off",
    "no-await-in-loop": "warn",
    "require-await": "off",
    "indent": ["warn", 2, { "SwitchCase": 1 }],
    "eqeqeq": "warn",
    "no-trailing-spaces": 1,
    "no-unused-vars": "error"
  },
  "parserOptions": {
    "parser": "@typescript-eslint/parser"
  }
}
