@font-face {
  font-family: "iconfont"; /* Project id 1464219 */
  /* Color fonts */
  src: 
       url('//at.alicdn.com/t/c/font_1464219_g3t3zqk0udf.woff2?t=1679638441776') format('woff2'),
       url('//at.alicdn.com/t/c/font_1464219_g3t3zqk0udf.woff?t=1679638441776') format('woff'),
       url('//at.alicdn.com/t/c/font_1464219_g3t3zqk0udf.ttf?t=1679638441776') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e660";
}

.icon-admin:before {
  content: "\e9d4";
}

.icon-super-admin:before {
  content: "\e655";
}

.icon-fuzhi:before {
  content: "\e609";
}

.icon-sousuo:before {
  content: "\e608";
}

.icon-dayin-dayinji:before {
  content: "\e619";
}

.icon-bianji:before {
  content: "\e634";
}

.icon-zhinengshenheshenchashenhe:before {
  content: "\e607";
}

.icon-guanbi:before {
  content: "\e718";
}

.icon-xuanzhong:before {
  content: "\e605";
}

.icon-xuanze:before {
  content: "\e606";
}

.icon-luxian:before {
  content: "\e604";
}

.icon-tishi:before {
  content: "\e613";
}

.icon-qidian:before {
  content: "\e601";
}

.icon-zhongdian:before {
  content: "\e602";
}

.icon-5:before {
  content: "\e61c";
}

.icon-fanhuidingbu:before {
  content: "\e653";
}

.icon-fuwenben1:before {
  content: "\e60b";
}

.icon-fuwenben:before {
  content: "\e8fb";
}

.icon-Markdown:before {
  content: "\e65c";
}

.icon-sishi:before {
  content: "\e615";
}

.icon-jinganglang:before {
  content: "\e616";
}

.icon-zhizhuxia:before {
  content: "\e617";
}

.icon-group:before {
  content: "\e600";
}

.icon-401:before {
  content: "\e666";
}

.icon-wendang:before {
  content: "\e60c";
}

.icon-wenzhang:before {
  content: "\e652";
}

.icon-shouye:before {
  content: "\e603";
}

.icon-error:before {
  content: "\e6ca";
}

.icon-icon-test2:before {
  content: "\e623";
}

.icon-liebiao:before {
  content: "\e847";
}

.icon-wenzhang1:before {
  content: "\e647";
}

.icon-icon-test3:before {
  content: "\e684";
}

.icon-huojian:before {
  content: "\e62a";
}

.icon-icon-test:before {
  content: "\e651";
}

.icon-icon-test1:before {
  content: "\e654";
}
