.personalCenter-box {
  // 个人信息
  :deep(.personal-info) {
    margin-bottom: 20px;
    .img-box {
      margin: 10px 0 20px;
      text-align: center;
      p {
        margin-top: 10px;
        display: grid;
        grid-template-columns: 60px auto;
        align-items: center;
        .info-title {
          font-size: 12px;
        }
        .info-data {
          font-weight: 700;
        }
      }
    }
    .experience {
      .el-divider {
        margin: 10px 0;
      }
      .el-tag {
        margin-right: 5px;
        margin-bottom: 5px;
      }
      .Education {
        margin-bottom: 20px;
      }
    }
  }
}
